<%- include("partials/header") -%>
<section class="home">
    <h1>About</h1>
    <p>hello <%= about %></p>
</section>
<style>
    .home{
        margin-left: 200px;
        margin-top: 50px;
    }
</style>
    

<%- include("partials/footer") -%>