<%- include("partials/header") -%>
<section class="home">
    <h1>Blog</h1>
    <h3><%= postTitle %></h3>
    <p><%= postBody %></p>
</section>
<style>
    .home{
        margin-left: 200px;
        margin-top: 50px;
    }
</style>

<%- include("partials/footer") -%>